div {
    border:solid 1px black;
    padding: 5px;
    display: inline-block;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;
    height: 110px;
    overflow: scroll;
    overflow: hidden;
    }